/* ESTILOS GERAIS DA PÁGINA */

body {
  font-family: 'Raleway', sans-serif;
}
nav {
  box-shadow: 5px 10px 10px rgba(50, 50, 50, 0.15);
}
a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #f47e47;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
  display: inline;
}
li {
  font-size: 1em;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.titulo-sections {
  font-weight: bold;
  font-size: 1.5em !important;
}

.titulo-menus {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.titulo-cartoes {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.btn-horus {
  padding-bottom: 15px;
  padding-top: 15px;
  color: FFF;
  font-weight: 700;
  background: #f47e47;
  margin-bottom: 20px;
  /* float: none !important; */
}

.btn-horus:hover {
  color: #FFF;
  background: #000;
}
/* FONT AWESOME */
.twitter {
  color: #55acee;
}
.heart {
  color: #eb084e;
  /* margin-right: 10px !important; */
}
.face {
  color: #3b5998;
}

.twitter:hover {
  color: #000;
}
.heart:hover {
  color: #000;
}
.face:hover {
  color: #000;
}



/* AQUI COMEÇA OS ESTILOS DO MENU SUPERIOR DA PAGINA HOME */
.cabecalho {
  background: #FFF;
}
.logo {
  margin-top: 20px;
}

.menus-header {
  margin-right: 130px;
}

.lista-redes li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
}

.lista-redes li a {
  color: #000 !important;
}

.lista-redes li a:hover {
  color: #f47e47 !important;
  text-decoration: none;
}

.lista-redes li button {
  background: #f47e47;
  color: #FFF;
  border: none;
  padding: 5px;
  border-radius: 4px;
}


/* ------------------------------------------------- FIM DO PAINEL SUPERIOR (HEADER) DA PAGINA ------------------------------------ */

.titulos-sup {
  /* margin-bottom: 30px; */
  margin-top: 200px;
}

.filtro-avançado-title {
  font-size: 24px;
  font-weight: bold;
}

.atas-h1 {
  font-size: 24px;
  font-weight: bold;
}

.local-title {
  font-weight: bold;
  color: #f47e47;
  font-size: 24px;
}


.fabricante-title {
  font-weight: bold;
  color: #f47e47;
  font-size: 24px;
}

.solucao-title {
  font-weight: bold;
  color: #f47e47;
  font-size: 24px;
}

.item-lista {
  font-weight: bold;
  font-size: 22px;
  /* margin-left: 20px; */
}

.switches {
  margin-right: 20px;
}



/* AQUI COMEÇA A ÁREA DOS CARTÕES DA PÁGINA */



.cards-descricao {
  font-weight: bold;
  font-size: 18px;
}

.card-content {
  font-size: 14px;
  line-height: 28px;
}




.cards {
  margin-bottom: 30px;
  margin-top: 115px;
}

.card-ata-1 {
  border: 1px solid #CCC;
  box-shadow: 1px 1px #AAA;
  border-radius: 3px;
  padding: 10px;
  margin-top: 30px;
}

.card-ata-1:hover {
  border-color: #f47e47;
}



/* ------------------------------------------- AQUI COMEÇA OS ESTILOS DO FOOTER --------------------------------------------- */




.rodape {
  background-color: #f0f0f0;
  /* padding-top: 50px */
}
.footer-titulos {
  padding-left: 0;
}

.form-novidades {
  border: 1px solid #DDD;
  border-radius: 3px;
}

.logo-footer {
  background: #f0f0f0;
}

/* Estilização de placeholder pode nao funcionar em alguns navegadores, 
já que só adicionei a classe "webkit", referente ao google Chrome */
input::-webkit-input-placeholder {
  padding-left: 10px;
}

.copyrights-row {
  border-top: 1px solid #BBB;
}

.copyrights {
  margin-top: 5px;
  text-align: center;
}

.copyrights p {
  margin-bottom: 0;
}


/* --------------------------------------------------- MEDIA QUERIES ------------------------------------------------------ */

@media only screen and (max-width : 320px) {
  body {}

  p {
      font-size: 14px;
  }
  .menus-header {
    margin-right: 0;
  }
  


  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }

}

@media only screen and (max-width : 480px) {
  .menu-header {
    margin-right: 0;
  }
  .lista-redes{
    margin-bottom: 0;
  }
  .primeiro-lancamento {
    margin-top: 450px;
    text-align: center;
  }
  
}

@media only screen and (min-width : 480px) {
  p {
      font-size: 16px;
  }
  .menus-header {
    margin-right: 0;
  }
  

  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }
}

@media only screen and (min-width : 768px) {
  p {
      font-size: 18px;
  }
}



