/* ESTILOS GERAIS DA PÁGINA */

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  box-shadow: 5px 10px 10px rgba(50, 50, 50, 0.15);
}

a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #f47e47;
}

p {
  font-size: 1em;
}
h2 {
  font-size: 1em;
}

ul {
  list-style: none;
  display: inline;
}
li {
  font-size: 1em;
}


img {
  max-width: 100%;
  max-height: 100%;
}


.titulo-sections {
  font-weight: bold;
  font-size: 1.5em !important;
}

.titulo-menus {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.titulo-cartoes {
  color: #f47e47 !important;
  font-weight: bold !important;
}


.btn-horus {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #FFF;
  font-weight: 700;
  background: #f47e47;
  margin-bottom: 20px;
}

.btn-horus:hover {
  color: #FFF;
  background: #000;
}

.btn-historia {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 30px;
  padding-right: 30px;
  color: #FFF;
  font-weight: 800;
  background: #f47e47;
  margin-bottom: 20px;
  font-size: 1em
}

.btn-historia:hover {
  color: #FFF;
  background: #000;
}


  /* BOTÕES MAIS COMPACTOS E MAIS FINOS */
  .btn-data {
    font-size: 12px;
    font-weight: 800;
    color: #FFF;
    background: #f47e47;
  }
  .btn-data:hover {
    color: #FFF;
    background: #000;
  }

  /* BOTÕES FOOTER */

  .btn-footer {
    border: none;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
    color: #FFF;
    font-weight: 700;
    background: #f47e47;
    margin-top: 15px;
    font-size: 1em;
    cursor: pointer;
  }
  
  .btn-footer:hover {
    color: #FFF;
    background: #000;
  }
  

/* FONT AWESOME */
.twitter {
  color: #55acee;
}
.heart {
  color: #eb084e;
  /* margin-right: 10px !important; */
}
.face {
  color: #3b5998;
}

.twitter:hover {
  color: #000;
}
.heart:hover {
  color: #000;
}
.face:hover {
  color: #000;
}



/* AQUI COMEÇA OS ESTILOS DO MENU SUPERIOR DA PAGINA HOME */
.cabecalho {
  background: #FFF;
}
.logo {
  margin-top: 20px;
}

.menus-header {
  margin-right: 130px;
}

.lista-redes li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
}

.lista-redes li a {
  color: #000 !important;
}

.lista-redes li a:hover {
  color: #f47e47 !important;
  text-decoration: none;
}

.lista-redes li button {
  background: #f47e47;
  color: #FFF;
  border: none;
  padding: 5px;
  border-radius: 4px;
}




/* ------------------------------------------------- FIM DO PAINEL SUPERIOR (HEADER) DA PAGINA ------------------------------------ */
.banner-top {
  overflow: hidden;
  display: inline;
}

.h1-top {
  background-color: #eb084e;
}






/* ------------------------------------------------- AQUI COMEÇA OS ESTILOS DO FOOTER -------------------------- */
.footer {
  background: #f0f0f0;
}


.li-bold {
  font-weight: bold;
}

input::-webkit-input-placeholder {
  padding-left: 10px;
}
.copyright {
  border-top: 1px solid #CCC;
}

/* --------------------------------------------------- MEDIA QUERIES ------------------------------------------------------ */

@media only screen and (max-width : 320px) {
body {}

p {
    font-size: 14px;
}
.menus-header {
  margin-right: 0;
}

.cases-banner {
  margin-top: 150px;
  margin-bottom: 30px;
}
.tipos-empresas {
  margin-top: 20px;
}




/* FOOTER */

.menu-inferior {
    padding-top: 0;
    margin-bottom: 0;
}

}

@media only screen and (max-width : 480px) {
.menu-header {
  margin-right: 0;
}
.lista-redes{
  margin-bottom: 0;
}
.tipos-empresas {
  margin-top: 20px;
}


}

@media only screen and (min-width : 480px) {
p {
    font-size: 16px;
}
.menus-header {
  margin-right: 0;
}


/* FOOTER */

.menu-inferior {
    padding-top: 0;
    margin-bottom: 0;
}
}

@media only screen and (min-width : 768px) {
p {
    font-size: 18px;
}
}



