/* ESTILOS GERAIS DA PÁGINA */

body {
  font-family: 'Raleway', sans-serif;
}
nav {
  box-shadow: 5px 10px 10px rgba(50, 50, 50, 0.15);
}
a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #f47e47;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
  display: inline;
}
li {
  font-size: 1em;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.titulo-sections {
  font-weight: bold;
  font-size: 1.5em !important;
}

.titulo-menus {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.titulo-cartoes {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.btn-horus {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #FFF;
  font-weight: 700;
  background: #f47e47;
  margin-bottom: 20px;
}

.btn-horus:hover {
  color: #FFF;
  background: #000;
}

.btn-send {
  padding-bottom: 13px;
  padding-top: 13px;
  color: #FFF;
  font-weight: 700;
  background: #f37133;
  /* margin-bottom: 20px; */
}

/* FONT AWESOME */
.twitter {
  color: #55acee;
}
.heart {
  color: #eb084e;
}
.face {
  color: #3b5998;
}

.twitter:hover {
  color: #000;
}
.heart:hover {
  color: #000;
}
.face:hover {
  color: #000;
}



/* AQUI COMEÇA OS ESTILOS DO MENU SUPERIOR DA PAGINA HOME */
.cabecalho {
  background: #FFF;
}
.logo {
  margin-top: 20px;
}

.menus-header {
  margin-right: 130px;
}

.lista-redes li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
}

.lista-redes li a {
  color: #000 !important;
}

.lista-redes li a:hover {
  color: #f47e47 !important;
  text-decoration: none;
}

.lista-redes li button {
  background: #f47e47;
  color: #FFF;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

/* ------------------------------------------------- FIM DO PAINEL SUPERIOR (HEADER) DA PAGINA ------------------------------------ */




/* ------------------------------------------------------------- AQUI COMEÇA A PARTE DOS CARTÕES --------------------------------- */

/* BANNER DO TOPO DA PÁGINA */

.banner-top {
  margin-top: 190px;
  background-size: cover;
  background: url('../img/Contato/banner-contato.png') no-repeat center;
  background-size: cover;
  width: auto;
  height: 200px;
  justify-content: center;
  padding-top: 60px;
}

.banner-text {
  font-weight: bold;
  font-size: 1.2em;
  color: #FFF;
  text-align: center;
}

/* CARTÕES FILIAIS */
.cards {
  margin-top: 120px;
}
.cards-info-div {
  height: 100px;
}
.cards-info {
  font-size: 14px;
  padding: 0;
}

.sede-info {
  font-size: 18px;
  font-weight: bold;
  color: #f47e47;
}

.city-maps {
  margin-top: 30px;
}


/* CARTÕES MAPS */

.card-maps {
  margin-bottom: 70px;
}



/* AQUI COMEÇA A PARTE DOS FORMULÁRIOS DO SITE */

.nome-form {
  margin-bottom: 20px;
}

.email-form {
  margin-bottom: 20px;
}

/* AQUI COMEÇA O CSS DA PARTE "CONHEÇA MAIS" DO SITE */

.conheca-mais {
  background: #BBB;
  justify-content: center;
  margin: 0;
  align-items: center;
}

.h1-conheca {
  text-align: center;
  font-weight: bold;
}


.conheca-mais-text {
  margin-bottom: 20px;
  margin-right: 0;
  width: 100%;
  /* text-align: center; */
}

.btn-conheca {
  padding-bottom: 15px;
  padding-top: 15px;
  color: FFF;
  background: #f47e47;
  margin-bottom: 20px;
  float: none !important;
}
.formularios-bottom {
  /* height: 300px; */
}
/*  ------------------------------------ AQUI COMEÇA OS ESTILOS DO FOOTER ------------------------- */
.menu-inferior {
  padding-top: 15px;
  margin-bottom: 90px;
}

.rodape {
  background-color: #f0f0f0;
}

.quero-receber {
  background: #f47e47;
}

.titulo-rodape {
  color: #f47e47;
  font-weight: bold;
}

.form-novidades {
  border: 1px solid #DDD;
  border-radius: 3px;
}


.a-horus-2 {
  font-weight: bold;
}

/* Estilização de placeholder pode nao funcionar em alguns navegadores,
já que só adicionei a classe "webkit", referente ao google Chrome */
input::-webkit-input-placeholder {
  padding-left: 10px;
}

.copyrights-row {
  border-top: 1px solid #BBB;
  height: 40px;
}

.copyrights {
  margin-top: 5px;
  text-align: center;
}

.copyrights p {
  font-size: 18px;
  margin-bottom: 0;
}

/* MEDIA QUERIES */



@media only screen and (max-width : 320px) {
  body {
    color: pink;
  }
}


@media only screen and (min-width : 480px) {}

@media only screen and (min-width : 768px) {}
