/* ESTILOS GERAIS DA PÁGINA */
input {
   border: 1px solid #AAA;
   border-radius: 3px;
   background: #F0F0F0;
 }
body {
  font-family: 'Raleway', sans-serif;
}
nav {
  box-shadow: 5px 10px 10px rgba(50, 50, 50, 0.15);
}

a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #f47e47;
}

p {
  font-size: 1em;
}
h2 {
  font-size: 1em;
}

ul {
  list-style: none;
  display: inline;
  padding: 0;
}
li {
  font-size: 1em;
}


img {
  max-width: 100%;
  max-height: 100%;
}
.titulo-menus {
  color: #f47e47 !important;
  font-weight: bold !important;
}


.btn-footer {
  border: none;
  border-radius: 4px;
  padding-left: 30px;
  padding-right: 30px;
  color: #FFF;
  font-weight: 600;
  background: #f47e47;
  margin-top: 15px;
  font-size: 1em;
  cursor: pointer;
}

.btn-footer:hover {
  color: #FFF;
  background: #000;
}


  /* BOTÕES MAIS COMPACTOS E MAIS FINOS */
  .btn-data {
    font-size: 12px;
    font-weight: 800;
    color: #FFF;
    background: #f47e47;
  }
  .btn-data:hover {
    color: #FFF;
    background: #000;
  }

/* -------------------------------------------- FOOTER ---------------------------------------- */
.footer {
  background: #f0f0f0;
}


.li-bold {
  font-weight: bold;
}

input::-webkit-input-placeholder {
  padding-left: 10px;
}
.copyright {
  border-top: 1px solid #CCC;
}
