/* ESTILOS GERAIS DA PÁGINA */

body {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #f47e47;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
  display: inline;
}
li {
  font-size: 1em;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.titulo-sections {
  font-weight: bold;
  font-size: 1.5em !important;
}

.titulo-menus {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.titulo-cartoes {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.btn-horus {
  padding-bottom: 15px;
  padding-top: 15px;
  color: FFF;
  font-weight: 700;
  background: #f47e47;
  margin-bottom: 20px;
  /* float: none !important; */
}

.btn-horus:hover {
  color: #FFF;
  background: #000;
}



/* AQUI COMEÇA OS ESTILOS DO MENU SUPERIOR DA PAGINA HOME */
.cabecalho {
  background: #FFF;
  /* height: 110px; */
  
}
.logo {
  margin-top: 20px;
}

.menus-header {
  margin-right: 130px;
}


.lista-redes li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
}

.lista-redes li a {
  color: #000 !important;
}

.lista-redes li a:hover {
  color: #f47e47 !important;
  text-decoration: none;
}

.lista-redes li button {
  background: #f47e47;
  color: #FFF;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

















@media only screen and (max-width : 320px) {
  body {}

  p {
      font-size: 14px;
  }

  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }

}




@media only screen and (min-width : 480px) {
  p {
    font-size: 0.8em;
      color: goldenrod;
  }
  li {
    font-size: 0.8em;
  }
  

  .titulo-sections {
    font-weight: bold;
    font-size: 0.7em;
  }
  
  .titulo-menus {
    color: #f47e47 !important;
    font-weight: bold !important;
  }
  
  .titulo-cartoes {
    color: #f47e47 !important;
    font-weight: bold !important;
  }

  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }
}

@media only screen and (min-width : 768px) {
  p {
      font-size:1em;
      color: #000;
  }
  li {
    font-size: 1em;
  }
  

  .titulo-sections {
    font-weight: bold;
    font-size: 0.9em;
  }
  
  .titulo-menus {
    color: #f47e47 !important;
    font-weight: bold !important;
  }
  
  .titulo-cartoes {
    color: #f47e47 !important;
    font-weight: bold !important;
  }
}