/* ESTILOS GERAIS DA PÁGINA */

body {
  font-family: 'Raleway', sans-serif;
}
nav {
  box-shadow: 5px 10px 10px rgba(50, 50, 50, 0.15);
}
a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #f47e47;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
  display: inline;
}
li {
  font-size: 1em;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.titulo-sections {
  font-weight: bold;
  font-size: 1.5em !important;
}

.titulo-menus {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.titulo-cartoes {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.btn-horus {
  padding-bottom: 15px;
  padding-top: 15px;
  color: FFF;
  font-weight: 700;
  background: #f47e47;
  margin-bottom: 20px;
  /* float: none !important; */
}

.btn-horus:hover {
  color: #FFF;
  background: #000;
}
/* FONT AWESOME */
.twitter {
  color: #55acee;
}
.heart {
  color: #eb084e;
  /* margin-right: 10px !important; */
}
.face {
  color: #3b5998;
}

.twitter:hover {
  color: #000;
}
.heart:hover {
  color: #000;
}
.face:hover {
  color: #000;
}



/* AQUI COMEÇA OS ESTILOS DO MENU SUPERIOR DA PAGINA HOME */
.cabecalho {
  background: #FFF;
}
.logo {
  margin-top: 20px;
}

.menus-header {
  margin-right: 130px;
}

.lista-redes li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
}

.lista-redes li a {
  color: #000 !important;
}

.lista-redes li a:hover {
  color: #f47e47 !important;
  text-decoration: none;
}

.lista-redes li button {
  background: #f47e47;
  color: #FFF;
  border: none;
  padding: 5px;
  border-radius: 4px;
}


/* ------------------------------------------------- FIM DO PAINEL SUPERIOR (HEADER) DA PAGINA ------------------------------------ */
.noticias-eventos {
  height: 400px;
  border: 1px solid black;
  margin-top: 150px;
}
.eventos-sup {
  margin-top: 200px;
}
.evento-img {
  margin-top: 30px;
}

.side-menu {
  margin-top: 200px;
}

.side-menu-title {
  font-size: 20px;
  font-weight: bold;
  color: #f47e47;
}


/*------------------------------------ AQUI COMEÇA A SECTION DE EVENTOS REALIZADOS ------------------------------------- */


.eventos-realizados {
  /* height: 205px; */
}

.redes-eventos li {
  display: inline-block;
}


/*---------------------------------------------------------- BANNER ---------------------------------------------------------------- */

.banner-premiacao {
  margin-top: 50px;
}

/* --------------------------------------AQUI COMEÇA A SECTION DOS LANÇAMENTOS--------------------------------------- */

.lancamentos-row {
  font-size: 20px;
  font-weight: bold;
  margin-top: 55px;
  margin-bottom: 35px;
  padding-left: 0;
}

.lancamentos-title {
  font-size: 18px;
  font-weight: bold;
}

.lancamentos-description {
  margin-top: 15px;
}

.lancamentos {
  margin-top: 30px;
}


/* ---------------------------------------AQUI FICA A SIDEBAR DA DIREITA DA PÁGINA ------------------------------ */

.sidebar {
  margin-left: 0;
  margin-right: 0;
}


/* EVENTOS */
.eventos-sup {
  margin-bottom: 55px;
}


/* ------------------------------------------- AQUI COMEÇA OS ESTILOS DO FOOTER --------------------------------------------- */

.rodape {
  background-color: #f0f0f0;
  /* padding-top: 50px */
}
.footer-titulos {
  padding-left: 0;
}

.form-novidades {
  border: 1px solid #DDD;
  border-radius: 3px;
}

.logo-footer {
  background: #f0f0f0;
}

/* Estilização de placeholder pode nao funcionar em alguns navegadores, 
já que só adicionei a classe "webkit", referente ao google Chrome */
input::-webkit-input-placeholder {
  padding-left: 10px;
}

.copyrights-row {
  border-top: 1px solid #BBB;
}

.copyrights {
  margin-top: 5px;
  text-align: center;
}

.copyrights p {
  margin-bottom: 0;
}


/* --------------------------------------------------- MEDIA QUERIES ------------------------------------------------------ */

@media only screen and (max-width : 320px) {
  body {}

  p {
      font-size: 14px;
  }
  .menus-header {
    margin-right: 0;
  }
  


  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }

}

@media only screen and (max-width : 480px) {
  .menu-header {
    margin-right: 0;
  }
  .lista-redes{
    margin-bottom: 0;
  }
  .primeiro-lancamento {
    margin-top: 450px;
    text-align: center;
  }
  
}

@media only screen and (min-width : 480px) {
  p {
      font-size: 16px;
  }
  .menus-header {
    margin-right: 0;
  }
  

  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }
}

@media only screen and (min-width : 768px) {
  p {
      font-size: 18px;
  }
}



