/* ESTILOS GERAIS DA PÁGINA */

body {
  font-family: 'Raleway', sans-serif;
}
nav {
  box-shadow: 5px 10px 10px rgba(50, 50, 50, 0.15);
}
a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #f47e47;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
  display: inline;
}
li {
  font-size: 1em;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.titulo-sections {
  font-weight: bold;
  font-size: 1.5em !important;
}

.titulo-menus {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.titulo-cartoes {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.btn-horus {
  padding-bottom: 15px;
  padding-top: 15px;
  color: FFF;
  font-weight: 700;
  background: #f47e47;
  margin-bottom: 20px;
  /* float: none !important; */
}

.btn-horus:hover {
  color: #FFF;
  background: #000;
}



/* AQUI COMEÇA OS ESTILOS DO MENU SUPERIOR DA PAGINA HOME */
.cabecalho {
  background: #FFF;
  /* height: 110px; */
  
}
.logo {
  margin-top: 20px;
}

.menus-header {
  margin-right: 130px;
}


.lista-redes li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
}

.lista-redes li a {
  color: #000 !important;
}

.lista-redes li a:hover {
  color: #f47e47 !important;
  text-decoration: none;
}

.lista-redes li button {
  background: #f47e47;
  color: #FFF;
  border: none;
  padding: 5px;
  border-radius: 4px;
}



/* ---------------------------------------------- FIM DO HEADER ----------------------------------------------- */

.section-video {
  margin-top: 200px;
}

/* COMEÇO DA AREA SOBRE DO SITE */
.sobre {
  margin-top: 80px;
}
.sobre-texto {
  color: #f47e47;
  font-weight: bold;
  font-size: 24px;
}
/* COMEÇO DA ÁREA DOS CARTÕES DO SITE */

.cards {
  margin-bottom: 30px;
  margin-top: 115px;
}
.card-missao {
  border: 1px solid #CCC;
  box-shadow: 1px 1px #AAA;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
}

.card-visao {
  border: 1px solid #CCC;
  box-shadow: 1px 1px #AAA;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
}

.card-valores {
  border: 1px solid #CCC;
  box-shadow: 1px 1px #AAA;
  border-radius: 3px;
  text-align: center;
  padding: 10px;
}

/* COMEÇO DA SECTION TIMELINE DO SITE */

.time-line-text {
  background: #F0F0F0;
  margin-bottom: 0;
  text-align: justify;
}
.time-line-text p {
  margin-bottom: 55px;
}
.time-line-text h1 {
  margin-top: 75px;
}
.time-line img {
  width: 100%;
  background-size: cover;
}

/* COMEÇO DA ÁREA CASES DO SITE */

.cases {
  margin-bottom: 105px;
}
.cases h1 {
  color: #000;
  justify-content: center;
  
}

.banner-text {
  font-weight: bold;
  font-size: 24px;
  color: #FFF;
  text-align: center;
}
.sub-texto {
  font-weight: 300;
  font-size: 20px;
  color: #FFF;
  text-align: center;
}

.cases-banner {
  background: url('../img/quemSomosImg/cases-banner.png') no-repeat center;
  background-size: cover;
  width: auto;
  height: 200px;
  justify-content: center;
  padding-top: 60px;
}

/* ----------------------------------------------- FIM DO BODY ----------------------------------------------- */



/* ------------------------------------------------- AQUI COMEÇA OS ESTILOS DO FOOTER ---------------------------------------- */


.rodape {
  background-color: #f0f0f0;
  /* padding-top: 50px */
}
.footer-titulos {
  padding-left: 0;
}

.form-novidades {
  border: 1px solid #DDD;
  border-radius: 3px;
}

.logo-footer {
  background: #f0f0f0;
}

/* Estilização de placeholder pode nao funcionar em alguns navegadores, 
já que só adicionei a classe "webkit", referente ao google Chrome */
input::-webkit-input-placeholder {
  padding-left: 10px;
}

.copyrights-row {
  border-top: 1px solid #BBB;
}

.copyrights {
  margin-top: 5px;
  text-align: center;
}

.copyrights p {
  margin-bottom: 0;
}

/* -------------------------------------------- MEDIA QUERIES ------------------------------------------------------- */
@media only screen and (max-width : 320px) {

}


@media only screen and (min-width : 320px) {
  body {}
  p {
      font-size: 0.5em;
      color: green;
  }
  li {
    font-size: 0.5em;
  }
  

  .titulo-sections {
    font-weight: bold;
    font-size: 0.5em;
  }
  
  .titulo-menus {
    color: #f47e47 !important;
    font-weight: bold !important;
  }
  
  .titulo-cartoes {
    color: #f47e47 !important;
    font-weight: bold !important;
  }

  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }

}

@media only screen and (max-width : 320px) {
  body {}

  p {
      font-size: 14px;
  }

  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }

}




@media only screen and (min-width : 480px) {
  p {
    font-size: 0.8em;
      color: goldenrod;
  }
  li {
    font-size: 0.8em;
  }
  

  .titulo-sections {
    font-weight: bold;
    font-size: 0.7em;
  }
  
  .titulo-menus {
    color: #f47e47 !important;
    font-weight: bold !important;
  }
  
  .titulo-cartoes {
    color: #f47e47 !important;
    font-weight: bold !important;
  }

  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }
}

@media only screen and (min-width : 768px) {
  p {
      font-size:1em;
      color: #000;
  }
  li {
    font-size: 1em;
  }
  

  .titulo-sections {
    font-weight: bold;
    font-size: 0.9em;
  }
  
  .titulo-menus {
    color: #f47e47 !important;
    font-weight: bold !important;
  }
  
  .titulo-cartoes {
    color: #f47e47 !important;
    font-weight: bold !important;
  }
}