/* ESTILOS GERAIS DA PÁGINA */

body {
  font-family: 'Raleway', sans-serif;
}

nav {
  box-shadow: 5px 10px 10px rgba(50, 50, 50, 0.15);
}
a {
  text-decoration: none;
  color: #000;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #f47e47;
}

p {
  font-size: 1em;
}

ul {
  list-style: none;
  display: inline;
}
li {
  font-size: 1em;
}


img {
  max-width: 100%;
  max-height: 100%;
}

.titulo-sections {
  font-weight: bold;
  font-size: 1.5em !important;
}

.titulo-menus {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.titulo-cartoes {
  color: #f47e47 !important;
  font-weight: bold !important;
}

.btn-horus {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #FFF;
  font-weight: 800;
  background: #f47e47;
  margin-bottom: 20px;
  border-color: #f47e47;

}

.btn-horus:hover {
  color: #FFF;
  background: #000;
}
/* FONT AWESOME */
.twitter {
  color: #55acee;
}
.heart {
  color: #eb084e;
}
.face {
  color: #3b5998;
}

.twitter:hover {
  color: #000;
}
.heart:hover {
  color: #000;
}
.face:hover {
  color: #000;
}



/* AQUI COMEÇA OS ESTILOS DO MENU SUPERIOR DA PAGINA HOME */
.cabecalho {
  background: #FFF;
}
.logo {
  margin-top: 20px;
}

.menus-header {
  margin-right: 130px;
}

.lista-redes li {
  display: inline-block;
  margin-left: 15px;
  font-weight: 600;
}

.lista-redes li a {
  color: #000 !important;
}

.lista-redes li a:hover {
  color: #f47e47 !important;
  text-decoration: none;
}

.lista-redes li button {
  background: #f47e47;
  color: #FFF;
  border: none;
  padding: 5px;
  border-radius: 4px;
}


/* ------------------------------------------------- FIM DO PAINEL SUPERIOR (HEADER) DA PAGINA ------------------------------------ */


.titulo {
  font-weight: bold;
  margin-bottom: 50px; 
  text-align: center;
  font-size: 28px;
  color: #f47e47;
}
.nossa-empresa-p {
  text-align: center;

}
.img-banner {
  margin-bottom: 90px;
  margin-top: 90px;
  /* height: 100px; */
  width: 100%;
}

.nossa-empresa {
  text-align: center;
}
.img-batida-de-maos{
  margin-bottom: 50px; 
}
.vaga-p{
  font-weight: bold;
  font-size: 24px;
  margin-top: 45px;
}
.vaga-title {
  color: #f47e47;
  font-weight: bold;
  text-align: center;
  
}


.vaga {
  border: 1px solid #DDD;
  border-radius: 3px;
  margin-top: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
}

.vaga:hover {
  background: #BBB;
}

.vaga-ficha {
  border: 1px solid #DDD;
  border-radius: 3px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}

.vaga-ficha p {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 20px;
}


.vaga-ficha:hover {
  background: #BBB;
}



/* AQUI COMEÇA OS ESTILOS FORMULÁRIOS DO FINAL DA PÁGINA */
.nome-form {
  margin-top: 20px;
}
.fone-form {
  margin-top: 20px;
}
.carta-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.files-send {
  border: 1px solid #DDD;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.files-send-p {
  text-align: center;
  font-size: 14px;
  display: inline-block;
}
.send-btn {
  background: #000 !important;
  padding-bottom: 15px;
  padding-top: 15px;
  color: #FFF;
  font-weight: 800;
  margin-bottom: 20px;
}
.send-btn:hover {
  background-color: #f47e47;
}

.send-curriculo {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 80px;
}



/* AQUI COMEÇA O CSS DA PARTE "CONHEÇA MAIS" DO SITE */

.conheca-mais {
  background: #BBB;
  justify-content: center;
  margin: 0;
  align-items: center;
}

.h1-conheca {
  text-align: center;
  font-weight: bold;
}


.conheca-mais-text {
  margin-bottom: 20px;
  margin-right: 0;
  width: 100%;
  /* text-align: center; */
}

.btn-conheca {
  padding-bottom: 15px;
  padding-top: 15px;
  color: FFF;
  background: #f47e47;
  margin-bottom: 20px;
  float: none !important;
}

/* ------------------------------------------- AQUI COMEÇA OS ESTILOS DO FOOTER --------------------------------------------- */




.rodape {
  background-color: #f0f0f0;
  /* padding-top: 50px */
}
.footer-titulos {
  padding-left: 0;
}

.form-novidades {
  border: 1px solid #DDD;
  border-radius: 3px;
}

.logo-footer {
  background: #f0f0f0;
}

/* Estilização de placeholder pode nao funcionar em alguns navegadores, 
já que só adicionei a classe "webkit", referente ao google Chrome */
input::-webkit-input-placeholder {
  padding-left: 10px;
}

.copyrights-row {
  border-top: 1px solid #BBB;
}

.copyrights {
  margin-top: 5px;
  text-align: center;
}

.copyrights p {
  margin-bottom: 0;
}


/* --------------------------------------------------- MEDIA QUERIES ------------------------------------------------------ */

@media only screen and (max-width : 320px) {
  

  p {
      font-size: 14px;
  }
  .menus-header {
    margin-right: 0;
  }
  

  .nossa-empresa-p {
    text-align: justify;
  
  }


  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }

}

@media only screen and (max-width : 480px) {
  .menu-header {
    margin-right: 0;
  }
  .lista-redes{
    margin-bottom: 0;
  }

  .nossa-empresa-p {
    text-align: justify;
  
  }
  .primeiro-lancamento {
    margin-top: 450px;
    text-align: center;
  }
  
}

@media only screen and (min-width : 480px) {
  p {
      font-size: 16px;
  }
  .menus-header {
    margin-right: 0;
  }
  .nossa-empresa-p {
    text-align: justify;
  
  }
  

  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }
}

@media only screen and (min-width : 768px) {
  p {
      font-size: 18px;
  }
  .nossa-empresa-p {
    text-align: center;
  
  }
}
