/* ESTILOS GERAIS DA PÁGINA */

body {
    font-family: 'Raleway', sans-serif;
  }
  nav {
    box-shadow: 5px 10px 10px rgba(50, 50, 50, 0.15);
  }
  a {
    text-decoration: none;
    color: #000;
  }

  a:link {
    text-decoration: none;
  }

  a:hover {
    color: #f47e47;
  }

  p {
    font-size: 1em;
  }

  ul {
    list-style: none;
    display: inline;
  }
  li {
    font-size: 1em;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
  .right {
    float: right;
  }

  .left {
    float: left;
  }
  .titulo-sections {
    font-weight: bold;
    font-size: 1.5em !important;
  }

  .titulo-menus {
    color: #f47e47 !important;
    font-weight: bold !important;
  }

  .titulo-cartoes {
    color: #f47e47 !important;
    font-weight: bold !important;
  }

  .btn-horus {
    padding-bottom: 15px;
    padding-top: 15px;
    color: #FFF;
    font-weight: 700;
    background: #f47e47;
    margin-bottom: 20px;
  }

  .btn-horus:hover {
    color: #FFF;
    background: #000;
  }

  /* BOTÕES MAIS COMPACTOS E MAIS FINOS */
  .btn-data {
    font-size: 12px;
    font-weight: 800;
    color: #FFF;
    background: #f47e47;
  }
  .btn-data:hover {
    color: #FFF;
    background: #000;
  }
  /* FONT AWESOME */
  .twitter {
    color: #55acee;
  }
  .heart {
    color: #eb084e;
  }
  .face {
    color: #3b5998;
  }

  .twitter:hover {
    color: #000;
  }
  .heart:hover {
    color: #000;
  }
  .face:hover {
    color: #000;
  }

  /* AQUI COMEÇA OS ESTILOS DO MENU SUPERIOR DA PAGINA HOME */
  .cabecalho {
    background: #FFF;
  }
  .logo {
    margin-top: 20px;
  }

  .menus-header {
    margin-right: 130px;
  }

  .lista-redes li {
    display: inline-block;
    margin-left: 15px;
    font-weight: 600;
  }

  .lista-redes li a {
    color: #000 !important;
  }

  .lista-redes li a:hover {
    color: #f47e47 !important;
    text-decoration: none;
  }

  .lista-redes li button {
    background: #f47e47;
    color: #FFF;
    border: none;
    padding: 5px;
    border-radius: 4px;
  }


/* ------------------------------------------------- FIM DO PAINEL SUPERIOR (HEADER) DA PAGINA ------------------------------------ */

/* SESSÃO DOS TREINAMENTOS */

.treinamento-h1 {
  margin-top: 180px;
}
.abertos-calendario {
  margin-top: 50px;
}

.description-bold {
  font-weight: 900;
  font-size: 0.9em;
  display: block;
  /* margin-top: 50px; */
  /* float:left; */
  clear: both;
}
.treinamentos-dados {
  display: inline-block;
}

/* PARTE INFERIOR DA PARTE DE TREINAMENTOS ABERTOS */
.treinamento-inferior {
  margin-top: 20px;
}


/* SESSÃO ASIDE DO CALENDÁRIO */
.calendario {
  margin-bottom: 40px;
  justify-content: right;
}

.treinamentos-btn {
  margin-top: 50px;
}
/* PARTE INFERIOR DO SITE, OUTROS TREINAMENTOS */
.outros-treinamentos-title {
  margin-top: 20px;
}
.btn-data {
  font-size: 12px;
  font-weight: 800;
  color: #FFF;
  background: #f47e47;
}
.btn-data:hover {
  color: #FFF;
  background: #000;
}
.outros-treinamentos {
  padding-top: 20px;
}
.treinamentos-scroll {
  margin-top: 20px;
}
.treinamentos-inferior-link:hover {
  background: rgb(99, 93, 131);
}

.imagem-clicavel:hover {
  background-size: cover;
  box-shadow: 5px 5px 10px rgba(50, 50, 50, 0.30);
}

  /* ------------------------------------------- AQUI COMEÇA OS ESTILOS DO FOOTER --------------------------------------------- */




.rodape {
  background-color: #f0f0f0;
  /* padding-top: 50px */
}
.footer-titulos {
  padding-left: 0;
}

.form-novidades {
  border: 1px solid #DDD;
  border-radius: 3px;
}

.logo-footer {
  background: #f0f0f0;
}

/* Estilização de placeholder pode nao funcionar em alguns navegadores,
já que só adicionei a classe "webkit", referente ao google Chrome */
input::-webkit-input-placeholder {
  padding-left: 10px;
}

.copyrights-row {
  border-top: 1px solid #BBB;
}

.copyrights {
  margin-top: 5px;
  text-align: center;
}

.copyrights p {
  margin-bottom: 0;
}


/* --------------------------------------------------- MEDIA QUERIES ------------------------------------------------------ */

@media only screen and (max-width : 320px) {
  body {}

  p {
      font-size: 14px;
  }
  .menus-header {
    margin-right: 0;
  }



  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }

}

@media only screen and (max-width : 480px) {
  .menu-header {
    margin-right: 0;
  }
  .lista-redes{
    margin-bottom: 0;
  }
  .primeiro-lancamento {
    margin-top: 450px;
    text-align: center;
  }

  /* PARTE INFERIOR DA PARTE DE TREINAMENTOS ABERTOS */
.treinamento-inferior {
  margin-top: 20px;
}


}

@media only screen and (min-width : 480px) {
  p {
      font-size: 16px;
  }

  /* PARTE INFERIOR DA PARTE DE TREINAMENTOS ABERTOS */
.treinamento-inferior {
  margin-top: 20px;
}

  .menus-header {
    margin-right: 0;
  }


  /* PARTE INFERIOR DA PARTE DE TREINAMENTOS ABERTOS */
.treinamento-inferior {
  margin-top: 20px;
}

  /* FOOTER */

  .menu-inferior {
      padding-top: 0;
      margin-bottom: 0;
  }
}

@media only screen and (min-width : 768px) {
  p {
      font-size: 18px;
  }

  /* PARTE INFERIOR DA PARTE DE TREINAMENTOS ABERTOS */
.treinamento-inferior {
  margin-top: 20px;
}
}
