<nav class="navbar navbar-expand-md navbar-light fixed-top p-0 cabecalho">

    <div class="col-md-4">
      <a class="navbar-brand" href="home.html">
        <img src="img/logo horus.png" alt="Horus">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="falso" aria-label="Abrir navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="col-md-8">
      <div class="menus-header">
        <div class="row justify-content-end menu">
          <ul class="lista-redes">
            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><button class="btn btn-primary btn-horus">loja online</button></li>
            <li><button class="btn btn-primary btn-horus">Cadastro</button></li>
          </ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto nav justify-content-end lista-redes mt-3 ">
            <li class="nav-item"><a class="nav-link" href="#">A HORUS</a></li>
            <li class="nav-item"><a class="nav-link" href="noticias.html">NOTICIAS</a></li>
            <li class="nav-item"><a class="nav-link" href="treinamento.html">TREINAMENTO</a></li>
            <li class="nav-item"><a class="nav-link" href="atas.html">ATAS</a></li>
            <li class="nav-item"><a class="nav-link" href="contato.html">CONTATO</a></li>
          </ul>
        </div>
      </div>
    </div>

  </nav>